@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/violet.css';

/* reset */
button {
    all: unset;
}

.RadioGroupRoot {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.RadioGroupItem {
    background-color: white;
    max-width: 25px;
    max-height: 25px;
    border-radius: 100%;
    box-shadow: 0 2px 10px var(--black-a7);
}

.RadioGroupItem:hover {
    background-color: var(--violet-3);
}

.RadioGroupItem:focus {
    box-shadow: 0 0 0 2px black;
}
